:root {
    --morning:#da8f4f;
    --afternoon: #f39d4b;
    --night: #474c4f;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

/* class added with javascript */

body.morning {
    background: var(--morning);
}

body.afternoon {
    background: var(--afternoon)
}

body.night {
    background: var(--night);
}

/*---------------------------------*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    margin: 2rem 0;
    color: #eeebe2;
}


.box {
    background: #eeebe2;
    height: 380px;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    padding: 2.4rem;
}

.box .image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.box p {
    text-align: center;
    margin-bottom: 1rem;
    font-size: larger;
    font-weight: 400;
}

/* mobile devices */

@media(max-width: 500px) {
    .box {
        width: 100%;
    }
    .container {
        margin: 0 .8rem;
    }
}